.search-slot {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 100%;
}

.table {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px 50px 50px 50px;
  max-width: 30%;
  margin-top: 50px;
  box-shadow: inset 3px -5px 15px 0px #5e5353;
  background-color: #56e07b;
  color: white;
  font-size: 18px;
  font-family: "Roboto";

  @media only screen and (max-width: 800px) {
    max-width: 80%;
  }
}

li {
  display: flex;

}

.button{
    background-color: #554caf;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 15px;
}