<div class="search-slot">
    <h1>search slot component</h1>

    <div class="table">
        <ul>
            <li>Slot Id: {{result.id}}</li>
            <li>Start date: {{result.attributes.starts | date}}</li>
            <li>End Date: {{result.attributes.ends | date}}</li>
            <li>Slot Price: {{result.attributes.price | currency:result.attributes.currency}}</li>
            <li>Slots Available: {{result.attributes.availabilities}}</li>

        </ul>
        <button class="button" type="button" (click)="bookCourt()">Book</button>
    </div>
</div>